<aside class="w-full md:w-80 flex-shrink-0 ">
    <div class="bg-white rounded-2xl shadow-sm border border-gray-100 overflow-hidden sticky top-[120px]">
        <div class="p-6 border-b border-gray-50 flex items-center space-x-4">
            <div class="w-12 h-12 bg-orange-100 rounded-full flex items-center justify-center text-orange-600">
                {% if request.user.is_anonymous %}
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>
                {% else %}
                <p class="text-xl font-bold">{{request.user.username|slice:"1"|capfirst}}</p>
                {% endif %}
                
            </div>
            <div>
                <h4 class="font-bold text-gray-900 truncate w-40">{{request.user.username}}</h4>
                <p class="text-xs text-gray-500 truncate w-40">{{request.user.email}}</p>
            </div>
        </div>

        <nav class="p-4 space-y-1">

            <a href="{% url 'dashboard' %}" class="flex items-center space-x-3 p-3 rounded-xl transition-all
                {% if request.resolver_match.url_name == 'dashboard' %}
                    bg-orange-50 text-orange-600 font-bold border border-orange-100 
                {% else %}
                    text-gray-600 hover:bg-gray-50 hover:text-orange-500
                {% endif %} ">

                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                </svg>
                <span class=" text-sm">Dashboard</span>
            </a>
            
            <a href="{% url 'my-order' %}" class="flex items-center space-x-3 p-3 rounded-xl
                {% if request.resolver_match.url_name == 'my-order' %} 
                    bg-orange-50 text-orange-600 font-bold border border-orange-100 
                {% else %} 
                    text-gray-600 hover:bg-gray-50 hover:text-orange-500
                {% endif %}">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>

                <span class="text-sm">My Orders</span>
            </a>

            <a href="{% url 'profile' %}" class="flex items-center space-x-3 p-3 rounded-xl
                {% if request.resolver_match.url_name == 'profile' %}
                    bg-orange-50 text-orange-600 font-bold border border-orange-100 
                {% else %} 
                    text-gray-600 hover:bg-gray-50 hover:text-orange-500
                {% endif %}">

                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>

                <span class="text-sm">Profile</span>
            </a>

            <a href="{% url 'address' %}" class="flex items-center space-x-3 p-3 rounded-xl transition-all
                {% if request.resolver_match.url_name == 'address' %}
                    bg-orange-50 text-orange-600 font-bold border border-orange-100 
                {% else %}
                    text-gray-600 hover:bg-gray-50 hover:text-orange-500
                {% endif %}">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <span class="text-sm">Address</span>
            </a>

            <a href="{% url 'wishlist' %}" class="flex items-center space-x-3 p-3 rounded-xl transition-all
                {% if request.resolver_match.url_name == 'wishlist' %}
                    bg-orange-50 text-orange-600 font-bold border border-orange-100 
                {% else %}
                    text-gray-600 hover:bg-gray-50 hover:text-orange-500
                {% endif %}">

                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                </svg>
                <span class="text-sm">Wishlist</span>
            </a>

            <a href="{% url 'account_change_password' %}" class="flex items-center space-x-3 p-3 rounded-xl transition-colors group
                {% if request.resolver_match.url_name == 'account_change_password' %}
                    bg-orange-50 text-orange-600 font-bold border border-orange-100 
                {% else %}
                    text-gray-600 hover:bg-gray-50 hover:text-orange-500
                {% endif %}">

                <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z" />
                </svg>

                <span class="text-sm">Password</span>
            </a>

            {% if request.user.is_staff %}
                <a href="{% url 'admin.dashboard' %}" class="flex items-center space-x-3 p-3 rounded-xl transition-colors group
                    {% if request.resolver_match.url_name == 'admin.dashboard' %}
                        bg-orange-50 text-orange-600 font-bold border border-orange-100 
                    {% else %}
                        text-gray-600 hover:bg-gray-50 hover:text-orange-500
                    {% endif %}">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                    </svg>

                    <span class="text-sm">Admin Pannel</span>
                </a>
            {% endif %}

            <div class="pt-4 border-t border-gray-50 mt-4">
                <a href="{% url 'account_logout' %}"
                    class="flex items-center space-x-3 p-3 rounded-xl text-red-500 hover:bg-red-50 transition-colors">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                    </svg>
                    <span class="font-bold text-sm">Sign Out</span>
                </a>
            </div>
        </nav>
    </div>  
</aside>