<div class="bg-white border-b border-gray-100 py-4 sticky top-16 md:top-20 z-40">
    
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center space-x-3 overflow-x-auto no-scrollbar">

            {% url 'home' as home_url %}
            <a href="{% url 'home' %}" class="flex-shrink-0 px-6 py-2 rounded-full text-sm font-medium transition-all
                {% if request.path == home_url %} bg-green-200 text-green-800 {% else %} bg-gray-100 text-gray-700 hover:bg-gray-200 {% endif %}">
                Home
            </a>

            {% url 'filter' as filter_url %}
            <a href="{% url 'filter' %}"
                class="flex-shrink-0 px-6 py-2 rounded-full text-sm font-medium transition-all 
                {% if request.path == filter_url and not active_category_id %} bg-green-200 text-green-800 {% else %} bg-gray-100 text-gray-700 hover:bg-gray-200 {% endif %}">
                All
            </a>

            {% for category in categories %}
            <a href="{% url 'category_filter' category.cat_slug %}"
                class="flex-shrink-0 px-6 py-2 rounded-full text-sm font-medium  transition-all
                {% if category.id == active_category_id %}bg-green-200 text-green-800{% else %}bg-gray-100 text-gray-700 hover:bg-gray-200{% endif %}">
                {{ category.cat_name }}
            </a>
            {% endfor %}

        </div>
    </div>
    
</div>